.content-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: calc(100vh - 84px);

  .content-text {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 100px;

    .contact-bullet-points {
      display: grid;
      grid-template-columns: 1fr;
      gap: 21px;

      .icon {
        color: $teal;
        margin-right: 20px;
      }
    }
  }
}